# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# Airflow
airflow.db
airflow.cfg
logs/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
