BASE_URL=<api_base_url>

PRICE=<live_price_ticks_endpoint>
TRADING_PAIRS=<trading_pairs_endpoint>
ORDER_BOOK=<order_book_data_endpoint>
OHLC=<historical_ohlc_data_endpoint>

POSTGRES_USER=<mmt_postgres_user>
POSTGRES_PASS=<my_postgres_password>
POSTGRES_HOST=<my_postgres_host>
POSTGRES_DB=<my_database_name>
POSTGRES_PORT=<my_postgres_port>

SPARK_PORT=<my_spark_port>

AIRFLOW_USERNAME=<my_airflow_username>
AIRFLOW_PASS=<my_airflow_password>
AIRFLOW_EMAIL=<my_airflow_email>
JWT_SECRET=<my_airflow_jwt_secret>
WEBSERVER_KEY=<my_airflow_webserver_key>
